@page "/"

<PageTitle>Index</PageTitle>

<div style="flex-flow: column; text-align: center;">
    <div><h1>Vitajte na stránke Vanessky Škrečkovej.</h1></div>

    <div style="height: 16px;" />
    <img src="/images/dzungarsky-skrecok.jpg">

    <div style="height: 16px;" />
    <div><h2>Vitajte v mojej aplikácii na testovanie.</h2></div>

    <div style="height: 16px;" />
    <div><h2>Môžete sa testovať zo slovenského jazyka.</h2></div>

</div>

